Django==3.2.12
admission
database
dependencies
django
djangorestframework-simplejwt==4.7.2
djangorestframework==3.12.4
fastapi
jose
models
passlib
permissions
psycopg2-binary==2.9.1
pydantic
rest_framework
rest_framework_simplejwt
serializers
sqlalchemy
views
